@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lusitana);
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #2C3E50 ;
}

body {
  background-color: #fcfcf4;
  font-family: 'Noto Sans TC', sans-serif;
}

p {
  font-size: 20px;
  line-height: 28px;
  margin: 0 0 18px;
}
p span {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 20px;
  padding: 12px 20px;
  margin-bottom: 24px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 4px;
}
p span:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -12px;
  margin: auto;
  background-color: #98B296;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 3px;
}
p span:after {
  content: '';
  pointer-events: none;
  position: absolute;
  top: -2px;
  bottom: 0;
  left: -6px;
  margin: auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 8px 6px;
  border-color: transparent transparent white transparent;
}

.fontstyle {
	font-family: 'Noto Sans TC', sans-serif;
}

h1 {
  font-size: 40px;
  font-weight: normal;
  line-height: 44px;
  text-align: center;
  margin-bottom: 18px;
}

/* logo setting */
.fontstyle a .logo {
	width: 250px;
	position: fixed;
	top: 10px;
	left: 10px;
    z-index: 2;
}


.containerbtn a {
	background-color: #98B296;
	color: #FFFFFF;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
	width: 150px;
	font-size: 15pt;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
}
.containerbtn a:hover {
	color: #98B296;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);
}

.sweep-to-right {
	position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: color 1000ms;
  transition: color 1000ms;
}

.sweep-to-right:before {
	content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FFFFFF;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
}
.sweep-to-right:hover:before{
   -webkit-transform: scaleY(1);
  transform: scaleY(1);  
}
.row.text-center.text-md-left.mt-3.pb-3 .col-md-2.col-lg-2.col-xl-2.mx-auto.mt-3 a {
	color: #080808;
}
.col-md-3.col-lg-2.col-xl-2.mx-auto.mt-3 a  {
	color: #000000;
}
.row.text-center.text-md-left.mt-3.pb-3 .col-md-2.col-lg-2.col-xl-2.mx-auto.mt-3 .text-uppercase.mb-4.font-weight-bold {
	color: #98B296;
}
.row.text-center.text-md-left.mt-3.pb-3 .col-md-3.col-lg-3.col-xl-3.mx-auto.mt-3 .text-uppercase.mb-4.font-weight-bold {
	color: #98B296;
}
.row.text-center.text-md-left.mt-3.pb-3 .col-md-3.col-lg-2.col-xl-2.mx-auto.mt-3 .text-uppercase.mb-4.font-weight-bold {
	color: #98B296;
}
.row.text-center.text-md-left.mt-3.pb-3 .col-md-4.col-lg-3.col-xl-3.mx-auto.mt-3 .text-uppercase.mb-4.font-weight-bold {
	color: #98B296;
}
.wordbg {
	width: 400px;
	height: 350px;
	background-image: url(4-8.jpg);
	-webkit-background-clip:text;
	font-size: 100px;
    -webkit-text-fill-color: transparent;
  font-weight:bold;
  animation:bg 50s ease infinite;
}
.wordbg h1 {
	width: 500px;
	padding-top: 100px;
}


@keyframes bg {
	from {
    background-position: right;
  }
  to {
    background-position: left;
  }
}

.longfix {
	width: 100%;
	height: 90px;
	position: fixed;
	background-color: #EAEAEA;
	top: 0px;
    z-index:6;
}
main section .my-5.h3 {
	padding-top: 100px;
}
.rightspace article h1 {
	font-size: 25pt;
	text-transform: uppercase;
}
.rightspace article p {
	font-size: 15pt;
}
.boxremove1 {
	position: fixed;
    left: 0;
    background:#EFEFEF;
    height:300px;
  width:300px;
    z-index: 1;
    border-radius: 50%
}
.boxremove2 {
	position: fixed;
	right: 0;
	background-color: #D9272A;
	height: 200px;
	width: 300px;
	z-index: 1;
    border-radius: 50%
}



@media (min-width: 500px) {
  h1 {
    font-size: 60px;
    line-height: 64px;
  }
.fontstyle main .section {
	
}
.collage-twoimg {
	padding: 5vh 5vw;
    min-height: calc(700px + 30vh);
}
 .collage-twoimg2 {
	padding: 5vh 5vw;
    min-height: 200px;;
}   
.collage-img {
  position: absolute;
}

.collage-img:first-of-type {
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  left: 20%;
  width: 600px;
  height: 600px;
  background: rgb(250,100,100);
background-image: url(2016.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.collage-img:nth-of-type(2) {
  z-index: 2;
  top: calc(50% + 200px);
  left: calc(20% + 450px);
  width: 250px;
  height: 250px;
  background: #8EB094;
}

.collage-text {
  z-index: 3;
  position: absolute;  
  right: 15vw;
  bottom: 10vh;
  font-size: .9em;
  max-width: 200px;
  color: grey;
  padding-top: .3em;
}





main section .row.features-small.mt-5.wow.fadeIn {
	padding-left: 15px;
	padding-right: 15px;
}
.fontstyle article p {
	text-align: center;
}
}

h3 {
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 60px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li {
  cursor: pointer;
  padding: 6px 20px;
  font-size: 48px;
}

button {
  opacity: 0.6;
  background-color: transparent;
  position: fixed;
  z-index: 2;
  top: 24px;
  right:  34px;
  border: none;
  width: 36px;
  height: 30px;
  outline: none;
  transition: opacity 0.2s ease-out;
}
button:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
    z-index:6;
  margin: auto;
  right: auto;
  width: 100%;
  background: linear-gradient(to bottom, #98B296, #98B296 20%, transparent 20%, transparent 40%, #98B296 40%, #98B296 60%, transparent 60%, transparent 80%, #98B296 80%, #98B296 100%);
  transition: opacity 0.2s ease-out, width 0.2s 0.2s ease-out;
}
button:after {
  opacity: 0;
  content: '×';
  color: white;
  position: absolute;
  top: 16px;
  left: -4px;
  font-family: Arial, sans-serif;
  font-size: 76px;
  line-height: 0;
  transition: opacity 0.4s ease-out;
}
button:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}
button:hover {
  opacity: 1;
}
.open button {
  opacity: 1;
}
.open button:before {
  opacity: 0;
  width: 0;
}
.open button:after {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) rotate(360deg);
          transform: translate3d(0, 0, 0) rotate(360deg);
  transition: opacity 0.4s 1s ease-out, -webkit-transform 0.4s 1s ease-out;
  transition: transform 0.4s 1s ease-out, opacity 0.4s 1s ease-out;
  transition: transform 0.4s 1s ease-out, opacity 0.4s 1s ease-out, -webkit-transform 0.4s 1s ease-out;
}

nav {
  z-index: 1;
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
}
nav:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: rgba(123, 156, 121, 0.98);
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 100%;
  -webkit-transform: scale(0.04), translateY(9999px);
          transform: scale(0.04), translateY(9999px);
  overflow: hidden;
}
.open nav {
  top: 0;
}
.open nav:before {
  -webkit-animation: menu-animation 0.8s ease-out forwards;
          animation: menu-animation 0.8s ease-out forwards;
}

ul.menu {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1000;
          perspective: 1000;
  color: white;
}
ul.menu li {
  opacity: 0;
  text-align: center;
  -webkit-transform: translate3d(0, 36px, 0);
          transform: translate3d(0, 36px, 0);
}
ul.menu li:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  left: auto;
  background-color: white;
  height: 100%;
  width: 0;
  overflow: hidden;
  transition: width 0.14s ease-out;
}
ul.menu li:after {
  opacity: 0;
  content: attr(data-text);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: #98B296;
  overflow: hidden;
  -webkit-transform: translate(-24px, 6px);
          transform: translate(-24px, 6px);
  transition: opacity 0.1s ease-out, -webkit-transform 0.1s ease-out;
  transition: transform 0.1s ease-out, opacity 0.1s ease-out;
  transition: transform 0.1s ease-out, opacity 0.1s ease-out, -webkit-transform 0.1s ease-out;
}
ul.menu li:hover:before {
  left: 0;
  right: auto;
  width: 100%;
}
ul.menu li:hover:after {
  opacity: 1;
  padding: 0 20px;
  -webkit-transform: translate(0px, 6px);
          transform: translate(0px, 6px);
  transition: opacity 0.2s 0.14s ease-out, -webkit-transform 0.2s 0.14s ease-out;
  transition: transform 0.2s 0.14s ease-out, opacity 0.2s 0.14s ease-out;
  transition: transform 0.2s 0.14s ease-out, opacity 0.2s 0.14s ease-out, -webkit-transform 0.2s 0.14s ease-out;
}
.open ul.menu li {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  transition: opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
  transition: transform 0.2s ease-out, opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
}
.open ul.menu li:nth-child(1) {
  transition-delay: 0.75s;
}
.open ul.menu li:nth-child(2) {
  transition-delay: 0.85s;
}
.open ul.menu li:nth-child(3) {
  transition-delay: 0.95s;
}
.open ul.menu li:nth-child(4) {
  transition-delay: 1.05s;
}
.open ul.menu li:nth-child(5) {
  transition-delay: 1.15s;
}

article {
  padding: 24px;
  max-width: 600px;
  margin: 60px auto;
  transition: 0.2s ease-out;
}
.open article {
  -webkit-transform: scale(0.92);
          transform: scale(0.92);
  transition: -webkit-transform 0.2s 0.41s ease-out;
  transition: transform 0.2s 0.41s ease-out;
  transition: transform 0.2s 0.41s ease-out, -webkit-transform 0.2s 0.41s ease-out;
}

@-webkit-keyframes menu-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.04) translateY(300%);
            transform: scale(0.04) translateY(300%);
  }
  40% {
    -webkit-transform: scale(0.04) translateY(0);
            transform: scale(0.04) translateY(0);
    transition: ease-out;
  }
  40% {
    -webkit-transform: scale(0.04) translateY(0);
            transform: scale(0.04) translateY(0);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(0.02) translateY(0px);
            transform: scale(0.02) translateY(0px);
  }
  61% {
    -webkit-transform: scale(0.04);
            transform: scale(0.04);
  }
  99.9% {
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    height: 100%;
    padding-bottom: 0;
    border-radius: 0;
  }
}

@keyframes menu-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.04) translateY(300%);
            transform: scale(0.04) translateY(300%);
  }
  40% {
    -webkit-transform: scale(0.04) translateY(0);
            transform: scale(0.04) translateY(0);
    transition: ease-out;
  }
  40% {
    -webkit-transform: scale(0.04) translateY(0);
            transform: scale(0.04) translateY(0);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(0.02) translateY(0px);
            transform: scale(0.02) translateY(0px);
  }
  61% {
    -webkit-transform: scale(0.04);
            transform: scale(0.04);
  }
  99.9% {
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    height: 100%;
    padding-bottom: 0;
    border-radius: 0;
  }
}
/* navagation page******************** */


.container-fluid{
    padding: 0px;
}





.boxright{
    position: relative;
    background-image: url(06.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
}


.boxleft{
    position: relative;
  
    background-image: url(05.jpg);
    background-size:cover;
    background-repeat: no-repeat;
   
}

.boxmiddle{
    position: relative;
    background-image: url(07.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}

/*s2*/
.text-picture {
	padding-top: 5%;
	padding-bottom: 5%;
}
.text-picture__text {
    padding: 5% 0% 0% 10%;
}
.text-picture__text h2 {
    margin-top: 0;
    padding: 25px;
}
.container .guidedog-bg img {
	position: relative;
	left: 25%;
}
.boxleft .txtBox {
	text-align: center;
	padding-top: 200px;
	padding-bottom: 200px;
    background: #000000;
    transition: 0.3s ease-in;
    opacity: 0;
    color: #FFF;
}
.boxleft .txtBox:hover{
    opacity: 0.7;
    cursor: pointer;
}

.boxright .txtBox {
	padding: 200px 0px;
	text-align: center;
     background: #000000;
    transition: 0.3s ease-in;
    opacity: 0;
    color: #FFF;
}
.boxright .txtBox:hover{
 opacity: 0.7;
    cursor: pointer;   
}
.boxmiddle .txtBox {
	padding: 200px 0px;
	text-align: center;
    background: #000000;
    transition: 0.3s ease-in;
    opacity: 0;
    color: #FFF;
}
.boxmiddle .txtBox:hover{
    opacity: 0.7;
    cursor: pointer;   
}
.container {
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	max-width: 960px;
}




@media (min-width:768px){
	float:left;
	.col-sm-push-6{
		left: 50%;
		width: 50%;
	}

}
  /*paet3*/
.text-picture__picture {
	text-align: center;
}
.text-picture__picture .img-responsive {
	margin-left: auto;
	margin-right: auto;
    width: 500px;
}

.menubackground{
    position: relative;
	top: 0;
	left: 0;
	height: 100vh;
	
	background-image: url(01.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0% center;
	min-height: 100vh;
 
    /*index2*/
    
