html, body {
height:100%;
margin:0;
padding:0;
}
.carousel{
    height: 100%;
}

.item{
    height: 100%;
}

.active{
    height: 100%;
}

.carousel-inner{
    height: 100%;;
}
.carousel{
    margin-bottom: 60px;
}

.carousel-text{
    z-index: 10;
}

.carousel .carousel-inner .bg{
    
    background-repeat: no-repeat;
    background-size: cover;
}
.carousel-inner .carousel-item.bg.bg1.active {
	background-image: url(2017.jpg);
	background-position: center bottom;
}

.carousel-inner .carousel-item.bg.bg2{
    background-image: url(00000.jpg);
	background-position: center top;
}

.carousel-inner .carousel-item.bg.bg3{
    background-image: url(2016.jpg);
	background-position: center top;
}




.bgbackground {
	
	font-family: "Open Sans", sans-serif;
    background-image: url(04.png);
    background-position: 50% 130%;
    position: relative;
    background-repeat: no-repeat;
  
}



.carousel-text {
	color: #E56E33;
	text-align: center;
    padding: 300px 100px;
}
section .bgbackground .col-lg-6.qa {
	text-align: center;
    padding-left: 200px;
}
